

@font-face {
   font-family: "SAMAN";
   src: url('SAMAN.TTF');
}

@font-face {
   font-family: "Comfortaa-Regular";
   src: url('Comfortaa-Regular.ttf');
}


body { padding-bottom: 70px; }

h1 {
   font-family: "SAMAN";
   text-align: center;
}

h3,h6 {
    text-align: center;
}

.logo {
    color: white;
}
.rating a {
   float: right;
   color: #aaa;
   text-decoration: none;
   font-size: 3em;
   transition: color .4s;
}
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
   color: orange;
   cursor: pointer;
}


.navbar-default {
/* Couleur de fond de la barre de navigation */
!important
background-color: #c90b0b;
border-color: #E7E7E7;
}
